In [ ]:
### Note
* First I read in the data from both the sources.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)


# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculated the total number of schools

* Calculated the total number of students

* Calculated the total budget

* Calculated the average math score 

* Calculated the average reading score

* Calculated the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculated the percentage of students with a passing math score (70 or greater)

* Calculated the percentage of students with a passing reading score (70 or greater)

* Created a dataframe to hold results

In [3]:

Total_Schools=len(school_data)
Total_Students=len(student_data)
Total_Budget=sum(school_data["budget"])
Averagescore= student_data["math_score"].mean()
Readingscore= student_data["reading_score"].mean()
PassingRate=(Averagescore + Readingscore)/2
#PassingGrade=(student_data["math_score"] >=70).count()
Passing_Math=(student_data[student_data["math_score"] >=70]).count()["Student ID"]
Students_Passing_Math=(Passing_Math/Total_Students)*100
#print('%{0:.2f}'.format (Pass1))
Passing_Reading=(student_data[student_data["reading_score"]>=70]).count ()["Student ID"]
Students_Passing_Reading=(Passing_Reading/Total_Students)*100
#print('%{0:.2f}'.format (Pass2))

# Place all of the data found into a summary DataFrame
District_summary_df = pd.DataFrame({"Total Schools": [Total_Schools],
                              "Total Students": Total_Students,
                              "Total Budget": Total_Budget,
                              " Overall Passing Rate" :'{0:.2f}%'.format (PassingRate),     
                  
                                    "Average Math Score": Averagescore,
                              "Average Reading Score": Readingscore,
                              "Passing Math": '{0:.2f}%'.format (Students_Passing_Math),
                              "Passing Reading": '{0:.2f}%'.format(Students_Passing_Reading)})
                              
District_summary_df

,Total Schools,Total Students,Total Budget,Overall Passing Rate,Average Math Score,Average Reading Score,Passing Math,Passing Reading
0,15,39170,24649428,80.43%,78.985371,81.87784,74.98%,85.81%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [4]:
size=school_data_complete["school_name"].value_counts()

#school_data_complete= school_data_complete.rename(columns={"type": "Type"})

Total_School_budget=school_data_complete.groupby(["school_name"]).mean()["budget"]

Per_Student_Budget= Total_School_budget/ size

School_PassMath= school_data_complete.groupby(["school_name"]).mean()["math_score"]

School_PassReading= school_data_complete.groupby(["school_name"]).mean()["reading_score"]

PassingMath2=school_data_complete[(school_data_complete["math_score"]>=70)]

PassingMathPercent= ((PassingMath2.groupby(["school_name"]).count()["student_name"]/size)*100)

PassingReading2=school_data_complete[(school_data_complete["reading_score"]>=70)]

PassingReadingPercent=((PassingReading2.groupby(["school_name"]).count()["student_name"]/size)*100)

AllAverage=(school_data_complete[(school_data_complete["math_score"]>=70)& (school_data_complete["reading_score"]>=70)])
OverallPassing= (AllAverage.groupby(["school_name"]).count()["student_name"]/ size*100)     

school_name= school_data["school_name"]

School_Types= school_data.set_index(["school_name"])["type"]


School_summary_df = pd.DataFrame({
                              "School_Types": School_Types,
                              "Total Students": size,
                              "School Budget" :Total_School_budget,     
                              "Budget_Per_Student":Per_Student_Budget,
                              "AvgMath":School_PassMath,
                              "AvgReading":School_PassReading,
                              "Passing Math":PassingMathPercent,
                              "Overall Passing Rate": OverallPassing,   
                              "Passing Reading": PassingReadingPercent})
School_summary_df
#School_summary_df.to_csv("new.csv")

,School_Types,Total Students,School Budget,Budget_Per_Student,AvgMath,AvgReading,Passing Math,Overall Passing Rate,Passing Reading
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,54.642283,81.933280
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,91.334769,97.039828
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,53.204476,80.739234
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,54.289887,79.299014
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,90.599455,97.138965
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,53.527508,80.862999
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,89.227166,96.252927
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,53.513884,81.316421
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,53.539172,81.222432
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,90.540541,95.945946
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,52.988247,80.220055
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,89.892107,95.854628
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,90.948012,97.308869
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,90.582567,96.539641
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,90.333333,96.611111

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [5]:
School_summary_df = School_summary_df.sort_values(["Overall Passing Rate"],ascending=False)
School_summary_df.head()

,School_Types,Total Students,School Budget,Budget_Per_Student,AvgMath,AvgReading,Passing Math,Overall Passing Rate,Passing Reading
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,91.334769,97.039828
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,90.948012,97.308869
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,90.599455,97.138965
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,90.582567,96.539641
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,90.540541,95.945946

In [ ]:
#school_data_complete=school_data_complete.rename(columns={"type": "Type"}, inplace=True)
#gapminder?
#Type=school_data_complete["Type"].value_counts()    
#school_data_complete["passingmath"]= school_data_complete["math_score"]>=70 
#PassingReading= School_Groupby["reading_score"].apply(lambda x: 1 if x >=70 else 0) 
#PassMath=School_Groupby["math_score"].apply(lambda x: 1 if x >=70 else 0)
#sum of passing math divided by count = percent

In [ ]:
#School_Groupby= school_data_complete.groupby(["school_name"])
#Schoollist=School_Groupby

In [ ]:
#SchoolAvgMath=School_Groupby["math_score"].mean()
#SchoolAvgMath
#SchoolAvgReading=School_Groupby["reading_score"].mean()
#SchoolAvgReading
#SchoolPassReading=School_Groupby["passingreading"].sum()/ School_Groupby["passingreading"].count()
#SchoolPassReading
#SchoolPassMath=School_Groupby[""]

In [ ]:
#AllAverage=(school_data_complete[(school_data_complete["math_score"]>=70)& (school_data_complete["reading_score"]>=70)])
#OverallPassing= (AllAverage.groupby(["school_name"]).count()["student_name"]/ size)
#OverallPassing

In [ ]:
#school_data_complete= school_data_complete.rename(columns={"type": "Type"})
#Type= school_data_complete.set_index(["school_name"]) ["Type"]
#Type
#AllAverage=PassingMathPercent+PassingReadingPercent/2

## Bottom Performing Schools (By Passing Rate)

* Sorted and displayed the five worst-performing schools

In [6]:
School_summary_df = School_summary_df.sort_values(["Overall Passing Rate"], ascending=True)
School_summary_df.head()

,School_Types,Total Students,School Budget,Budget_Per_Student,AvgMath,AvgReading,Passing Math,Overall Passing Rate,Passing Reading
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,52.988247,80.220055
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,53.204476,80.739234
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,53.513884,81.316421
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,53.527508,80.862999
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,53.539172,81.222432

## Math Scores by Grade

* Created a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Created a pandas series for each grade. Hint: use a conditional statement.
  
  * Grouped each series by school
  
  * Combined the series into a dataframe

In [7]:
Nine=school_data_complete[(school_data_complete["grade"]=="9th")]
Ten=school_data_complete[(school_data_complete["grade"]=="10th")]
Eleven=school_data_complete[(school_data_complete["grade"]=="11th")]
Twelve=school_data_complete[(school_data_complete["grade"]=="12th")]

NineSchool=Nine.groupby(["school_name"]).mean()["math_score"]
TenSchool=Ten.groupby(["school_name"]).mean()["math_score"]
ElevenSchool=Eleven.groupby(["school_name"]).mean()["math_score"]
TwelveSchool=Twelve.groupby(["school_name"]).mean()["math_score"]

MathGradeScores_df= pd.DataFrame({ "Nine": NineSchool,
                                  
                             "Ten": TenSchool,
                             "Eleven":ElevenSchool,
                              "Twelve":TwelveSchool})
MathGradeScores_df

                            Nine        Ten     Eleven     Twelve
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Performed the same operations as above for reading scores

In [8]:
Nine=school_data_complete[(school_data_complete["grade"]=="9th")]
Ten=school_data_complete[(school_data_complete["grade"]=="10th")]
Eleven=school_data_complete[(school_data_complete["grade"]=="11th")]
Twelve=school_data_complete[(school_data_complete["grade"]=="12th")]

NineSchool=Nine.groupby(["school_name"]).mean()["reading_score"]
TenSchool=Ten.groupby(["school_name"]).mean()["reading_score"]
ElevenSchool=Eleven.groupby(["school_name"]).mean()["reading_score"]
TwelveSchool=Twelve.groupby(["school_name"]).mean()["reading_score"]

ReadingGradeScores_df= pd.DataFrame({ "Nine": NineSchool,
                             "Ten": TenSchool,
                             "Eleven":ElevenSchool,
                              "Twelve":TwelveSchool})
ReadingGradeScores_df

                            Nine        Ten     Eleven     Twelve
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Created a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [9]:
# Sample bins. Feel free to create your own bins.
# import pandas as pd
# csv_path = "new.csv"
# SchoolSpending = pd.read_csv(csv_path)
#SchoolSpending=pd.read(new.csv)
#SchoolSpending.head()
#School_summary_df.to_csv("\Users\Radox Babe\Desktop\Data.csv") 
#School_Summary_df
#bins = [0, 585, 615, 645, 675]
#labels= ["<$585", "$585-615", "$615-645", "$645-675"]




School_summary_df["Spending"]=pd.cut(School_summary_df.Budget_Per_Student,bins = [0, 585, 615, 645, 675],labels=["<$585", "$585-615", "$615-645", "$645-675"])




SpendingScoresAvgMath=School_summary_df.groupby(["Spending"]).mean()["AvgMath"]
SpendingScoreAvgReading=School_summary_df.groupby(["Spending"]).mean()["AvgReading"]
SpendingScorePercentMath=School_summary_df.groupby(["Spending"]).mean()["Passing Math"]
SpengingScorePercentReading=School_summary_df.groupby(["Spending"]).mean()["Passing Reading"]
SpendingScoreGradeOverall=School_summary_df.groupby(["Spending"]).mean()["Overall Passing Rate"]


Summaryby_spending_df=pd.DataFrame({ "AvgMath": SpendingScoresAvgMath,
                             "AvgReading": SpendingScoreAvgReading,
                             "Passing Math":SpendingScorePercentMath,
                                      "Passing Reading":SpengingScorePercentReading,
                               "Overall Passing Rate":SpendingScoreGradeOverall})

Summaryby_spending_df





#Total_School_budget=school_data_complete.groupby(["school_name"]).mean()["budget"]
#Per_Student_Budget= Total_School_budget/ size
#data=pd.DataFrame[School_summary_df]
#data
#School_Summary_df=School_Summary_df.groupby("school_name")
#School_Summary_df
#Nine=school_data_complete[(school_data_complete["grade"]=="9th")]
#SchoolSpending= (School_summary_df[(School_summary_df["Per_Student_Budget":float])
#SchoolSpending
#SchoolSpending=pd.cut(School_summary_df.Budget_Per_Student,spending_bins)      
#SchoolSpending
#df=pd.DataFrame(SchoolSpending)

,AvgMath,AvgReading,Passing Math,Passing Reading,Overall Passing Rate
Spending,,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-615,83.599686,83.885211,94.230858,95.900287,90.216324
$615-645,79.079225,81.891436,75.668212,86.106569,66.112060
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

* Performed the same operations as above, based on school size.

In [10]:
# Sample bins. Feel free to create your own bins.

bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
School_summary_df["SchoolSize"]=pd.cut(School_summary_df["Total Students"],bins,labels=labels)
School_summary_df




#SchoolSize["Binning"]=pd.cut(SchoolSize.Budget_Per_Student,bins = [0, 1000, 2000, 5000],labels=["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"])
#SchoolSize
#bins = [0, 1000, 2000, 5000]
#labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

,School_Types,Total Students,School Budget,Budget_Per_Student,AvgMath,AvgReading,Passing Math,Overall Passing Rate,Passing Reading,Spending,SchoolSize
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,52.988247,80.220055,$615-645,Large (2000-5000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,53.204476,80.739234,$615-645,Large (2000-5000)
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,53.513884,81.316421,$645-675,Large (2000-5000)
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,53.527508,80.862999,$645-675,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,53.539172,81.222432,$645-675,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,54.289887,79.299014,$615-645,Large (2000-5000)
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,54.642283,81.933280,$615-645,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,89.227166,96.252927,<$585,Small (<1000)
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,89.892107,95.854628,$585-615,Medium (1000-2000)
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,90.333333,96.611111,<$585,Medium (1000-2000)
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,90.540541,95.945946,$585-615,Small (<1000)
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,90.582567,96.539641,<$585,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,90.599455,97.138965,$615-645,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,90.948012,97.308869,$615-645,Medium (1000-2000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,91.334769,97.039828,<$585,Medium (1000-2000)

In [11]:
SizeMathscore=School_summary_df.groupby(["SchoolSize"]).mean()["AvgMath"]
SizeReadingscore=School_summary_df.groupby(["SchoolSize"]).mean()["AvgReading"]
SizebyMathPassing=School_summary_df.groupby(["SchoolSize"]).mean()["Passing Math"]
SizebyReadingPassing=School_summary_df.groupby(["SchoolSize"]).mean()["Passing Reading"]
SizebyOverallAvg=School_summary_df.groupby(["SchoolSize"]).mean()["Overall Passing Rate"]


Summaryby_sizedf=pd.DataFrame({ "AvgMath": SizeMathscore,
                             "AvgReading": SizeReadingscore,
                             "Passing Math":SizebyMathPassing,
                              "Passing Reading":SizebyReadingPassing,
                               "Overall Passing Rate":SizebyOverallAvg})
Summaryby_sizedf

,AvgMath,AvgReading,Passing Math,Passing Reading,Overall Passing Rate
SchoolSize,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Performed the same operations as above, based on school type.

In [12]:
TypebyMath=School_summary_df.groupby(["School_Types"]).mean()["AvgMath"]
TypebyReading=School_summary_df.groupby(["School_Types"]).mean()["AvgReading"]
Typebypercentmath=School_summary_df.groupby(["School_Types"]).mean()["Passing Math"]
Typebypercentreading=School_summary_df.groupby(["School_Types"]).mean()["Passing Reading"]
Typebyoverallpassing=School_summary_df.groupby(["School_Types"]).mean()["Overall Passing Rate"]





SummarybyType_df=pd.DataFrame({"AvgMath": TypebyMath,
                             "AvgReading": TypebyReading,
                             "Passing Math":Typebypercentmath,
                              "Passing Reading":Typebypercentreading,
                               "Overall Passing Rate":Typebyoverallpassing})
SummarybyType_df

,AvgMath,AvgReading,Passing Math,Passing Reading,Overall Passing Rate
School_Types,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208